
@{
    ViewBag.Title = "Privacy_Policy";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<style>
    .Privacy_Policy_Heading_Color {
        color: #002244;
    }
</style>


<div class="container">
    <div class="row mt-4">
        <article class="articlePrivacyPolicy">
            <h1 style="text-align: center; color:#002244" class="Privacy_Policy_Heading_Color">Privacy Policy</h1>
            <p>We do not collect any personal information from our visitors. Visits are logged for aggregate statistics and 
            diagnosis purpose only using google analytics. Security settings protect the misuse of this sensitive information.</p>
           

            <h3> Personal User Information</h3>
            <p><strong>DotnetCosmos.com</strong>  requires no user registration. Users are free to visit <strong>DotnetCosmos.com</strong>, and navigate all its pages.</p>


            <h3>Cookies</h3>
            <p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site.</p>
           
            
            <h3>Our Commitment to Excellence</h3>
            <p>Your success in the world of programming is our top priority. We commit to keeping our tutorials up-to-date to reflect the latest industry standards and emerging best practices. We value your feedback and suggestions as they contribute to the continual improvement of our platform.</p>

            <h3>Advertising Cookies</h3>
            <p>
                We fund our site by showing advertises as you browse our site. These adverts are usually managed by a partner specializing in 
                providing advertise for multiple sites. Invariably these partners place cookies to collect anonymous data about the websites 
                you visits so they can personalize the adverts to you, ensure that you don't see the same adverts too frequently and ultimately 
                report to advertisers on which adverts are working.
            </p>

            <p>Cookies are widely used in online advertising. Neither us, advertisers or our advertising partners can gain personally identifiable information from these cookies.            </p>



            <h3>Social Website Cookies</h3>
            <p>
                Cookies are used by social websites (like Facebook and Twitter) so you can easily Like or share our content with the sharing buttons on our site.
            </p>

        </article>
    </div>
</div>

